/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

* {
	box-sizing: border-box
}

html {
	font-size: 16px;
}

body {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
}

a {
	color: #B73757;
}

.nav-wrapper {
	background-color: #284320;
	color: #fff;
}

div.goog-te-gadget,
div.goog-te-gadget .VIpgJd-ZVi9od-l4eHX-hSRGPd,
div.goog-te-gadget .VIpgJd-ZVi9od-l4eHX-hSRGPd:link,
div.goog-te-gadget .VIpgJd-ZVi9od-l4eHX-hSRGPd:visited,
div.goog-te-gadget .VIpgJd-ZVi9od-l4eHX-hSRGPd:hover,
div.goog-te-gadget .VIpgJd-ZVi9od-l4eHX-hSRGPd:active {
	color: #fff;
	font-weight: 400;
	font-size: 11px;
}

.content-container {
	max-width: 1536px;
	margin: 0 auto;
	padding: 2.5vw 10vw;
	position: relative;
	z-index: 2;
}

.content-container-narrow {
	max-width: 768px;
	padding-left: 50px;
	padding-right: 50px;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding-top: 2vw;
	padding-bottom: 2vw;
	align-items: center;
	gap: 5px;

	@media screen and (min-width: 768px) {
		gap: 30px;
	}
}

.nav a {
	font-weight: 700;
	font-style: normal;
	font-size: 0.9em;
	color: #F9DF90;
	text-decoration: none;
	padding: 0.25em 0.5em;
	border-bottom: 1px solid transparent;
	transition: all .2s ease-in;
}

nav a:hover {
	color: #fcebb1;
	border-bottom: 1px solid currentColor;
}

nav .active {
	color: #fff;
	border-bottom: 1px solid currentColor;
}

img {
	display: block;
	max-width: 100%;
}

.logo {
	width: 300px;
}

#google_translate_element {
	margin-left: auto;
}

.header-background {
	background-image: url(../images/pexels-corin-1105019.jpg);
	background-size: cover;
	background-position: 25% 80%;
	color: #fff;
	position: relative;
	text-align: center;
	text-shadow: #000 1px 0 15px;
}

.header-background::before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(5px);
	background-color: rgba(0, 0, 0, 0.25);

}

.header-background .content-container {
	max-width: 75ch;
	padding-left: 50px;
	padding-right: 50px;
}

h1 {
	font-size: 3rem;
}

h1,
h2,
h3 {
	font-family: "Madimi One", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-top: 0;
}

.two-column {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.two-column h2,
.two-column p,
.two-column div {
	grid-column: span 2;
}

.pubdate::before {
	content: "Published on: ";
}

.pubdate {
	display: inline-block;
	font-size: 0.6875em;
	background: #F9DF90;
	padding: 0.25em 0.5em;
	margin-bottom: 0.75em;
}

.map-embed {
	width: 100%;
	border: 0;
	height: 60vw;
	max-width: 960px;
	margin: 0 auto;
	display: block;
}

.form-volunteer {
	background-color: #e7f2d1;
	padding: 2em;
}

.form-volunteer button {
	background-color: #3c702c;
	color: #fff;
	font-weight: 700;
}

.form-stacked label,
.form-stacked fieldset {
	display: block;
	font-weight: 700;
	font-size: 0.85em;
	margin-bottom: 0.5em;
}

.form-stacked fieldset {
	border: none;
	padding: 0;
	padding-top: 0.5em;
	margin-bottom: 1em;
}

.form-stacked input {
	border: 1px solid #ccc;
	margin-bottom: 1em;
}

.form-stacked div {
	display: flex;
	align-items: flex-start;
}

.form-stacked div label {
	font-weight: 400;
}

details {
	padding-left: 2em;
}

summary {
	font-weight: 700;
	margin-bottom: 1em;
	margin-left: -2em;
	color: #284320;
}

summary:hover {
	cursor: pointer;
}

footer {
	background-color: #284320;
	color: #fff;
}

footer h2 {
	color: #F9DF90;
}

input,
button,
.button {
	font-size: inherit;
	font-family: inherit;
	border: none;
	border-radius: 2px;
	padding: 0.25em 0.75em;
	text-decoration: none;
	margin-right: 1em;
	margin-bottom: 1em;
}

.button {
	background-color: #3c702c;
	color: #fff;
	font-weight: 700;
	display: inline-block;
}

footer button {
	background-color: #F9DF90;
	border: none;
	font-weight: 700;
}

footer .content-container {
	padding: 5vw 10vw;
}

/* Slider */

.container {
	display: grid;
	position: relative;
	overflow: hidden;
	border-radius: 1rem;
	--position: 50%;
	max-width: 850px;
	margin: 0 auto;
}

.image-container {
	max-width: 850px;
	max-height: 639px;
	aspect-ratio: 1.33/1;
}

.slider-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: left;
}

.image-before {
	position: absolute;
	inset: 0;
	width: var(--position);
}

.slider {
	position: absolute;
	inset: 0;
	cursor: pointer;
	opacity: 0;
	/* for Firefox */
	width: 100%;
	height: 100%;
}

.slider:focus-visible~.slider-button {
	outline: 5px solid black;
	outline-offset: 3px;
}

.slider-line {
	position: absolute;
	inset: 0;
	width: .2rem;
	height: 100%;
	background-color: #fff;
	/* z-index: 10; */
	left: var(--position);
	transform: translateX(-50%);
	pointer-events: none;
}

.slider-button {
	position: absolute;
	background-color: #fff;
	color: black;
	padding: .5rem;
	border-radius: 100vw;
	display: grid;
	place-items: center;
	top: 50%;
	left: var(--position);
	transform: translate(-50%, -50%);
	pointer-events: none;
	/* z-index: 100; */
	box-shadow: 1px 1px 1px hsl(0, 50%, 2%, .5);
}
